.social-login
    button.social-login--github
        i.fab.fa-github 
        span Continue with Github
    button.social-login--facebook
        i.fab.fa-facebook 
        span Continue with Facebook 